.navbar {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-white);
    padding: 10px;
    border-radius: 26px;
    box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px

}

.logo {
  width: 2rem;
}
.logo_text {
  font-size: var(--size-3xl);
  padding: rem;
}
/* sheet styling */
.list {
  display: flex;
}