

.hero_img {
    border-radius: 20px;
    border-radius: 10px;
    background: #e0e0e0;
    margin: 0.5rem;

}
.hero {
    background-color: var(--clr-white);
    
}

.hero_p {
    font-size: var(--size-4xl);
    font-weight: 500;
    margin-bottom: 7rem;
}

/* desktop responsive */
/* lg */
@media (min-width: 1024px) {

    #hero_container {
        margin: 0;
       
    }

    .hero {
        width: 100%;
        padding:40px;
    }
    .title {
        font-size: var(--size-6xl);
    }
    
    .subtitle {
        font-size: var(--size-4xl);
        font-weight: 600;
        color: var(--clr-dark);
    
    }
    
    .hero_img {
        border-radius: 20px;
        margin-bottom: 10px;
        width: 50%;
        background: #e0e0e0;
        margin-left:300px;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: var(--clr-dark) 10px 10px 0 0;
       
    
    }
    .hero {
        background-color: var(--clr-white);
        align-items: center;
        text-align: center;
        
    }
    
    .hero_p {
        margin-bottom: 6rem;
    }
    span {
        text-align: center;
        font-size: var(--size-4xl);
    }
}